@import "mafs/core.css";

.MafsView {
  --mafs-bg: white;
  --mafs-fg: #aaaa;
  --mafs-line-color: #dddddd;
  --grid-line-subdivision-color: #ddd; ;

}


.mafs-container {
  display: flex;
  justify-content: space-between;
}

.mafs-item {
  width: 330px;
}